body {
    background-color: #f4f4f4;
}


#manager {
    color: rgb(248, 156, 153);
}

#churchDiv{
    
    width: auto;
}

#church{

    width: 100%;
}

#churchDiv{
    height: auto;
    width: auto;
}

/* home */

.pastor{
    max-width: 100%;
}

#pastor{
    max-width: 100%;
}


#maps{
    height: auto;
    max-width: auto;
}

/* About */


#faithContents {
    border: 1px solid;
    margin-bottom: auto;
    position: sticky;
}

.faithTitle{
    font-family: 'Calisto MT';
    font-size: 32px;
}

#faithTableBody{
    cursor: pointer;
}

.faith{
    font-family: 'Calisto MT';
    font-size: 22px;
}

.bible{
    font-family: Calibri;
    font-size: 12px;
}

#faith {
    border: 0px solid;
}

#pastorFamily{
    width: auto;
}

/* Contact Page */

#contact{
    border: 0px solid;
}

#contactInfo{
    margin-top: 50%;
    text-indent: 10%;
    transform: translateY(-80%);
}


/* DustinWebs Business Footer */

#dustinwebsFooter{
    text-align: center;
}

#dustinwebsContactLink{
    color: blueviolet;
}

#dustinwebsLogoLink {
    text-decoration: none;
}

.dustinwebsFooterLogo{
    width: 10%;
}

