html{
    height: 100%;
}

body {
    background-color: #f4f4f4;
    font-size: 20px;

    min-height: 100%;
    
    display: flex;
    flex-direction: column;
}

.title{
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Navbar Stuff */

#shortName{
    display: none;
}

#manager {
    color: rgb(248, 156, 153);
}


#church{

    width: 100%;
}

#churchDiv{
    margin-top: -10;
    height: auto;
    width: auto;
}

/* home */

.pastor{
    max-width: 100%;
}

#pastor{
    max-width: 100%;
}

#pastorName{
    font-size: 20px;
}

#serviceTimes {
    font-size: 20px;
}

#maps{
    height: auto;
    max-width: auto;
}

/* About */

#welcome {
    padding-top: 6%;
}



#faith {
    position: relative;
    
  }

#faithContents {
    position: sticky;
    top: 5%;
    bottom: 0;
    height: calc(100vh - 100%); 
    overflow-y: auto;
}



.backToTopBtn {
    display: none; /* Hide the button by default */
   
}

.backToTopBtn.active {
    display: block;
    cursor: pointer;
}

.backToTopBtn a {
    color: black;
    text-decoration: none;
}

#faithTable {
    border: 1px solid black;
}

#faithBody {
    margin-left: 14%;
}

.faithTitle{
    font-family: 'Calisto MT';
    font-size: 32px;
}

#faithTableBody{
    cursor: pointer;
    
}

.faith{
    font-family: 'Calisto MT';
    font-size: 22px;
}

.bible{
    font-family: Calibri;
    font-size: 12px;
}

#faith {
    border: 0px solid;
}

#pastorFamily{
    max-width: 100%;
}

#sermonSearchBtnLink{
    color: #fff;
    text-decoration: none;
}

/* Contact Page */

.contact-form{
    border: 0px solid red;
    margin-top: -8%;
}

.g-recaptcha {
    transform:scale(1.0);
    transform-origin:0 0;
}

/* DustinWebs Business Footer */

footer{
    margin-top: auto;
}

#dustinwebsFooter{
    text-align: right;
    padding-top: 1%;
    padding-right: 2%;
    border: 2px solid lightgray;

}

#dustinwebsContactLink{
    color: blueviolet;
}

#dustinwebsLogoLink {
    text-decoration: none;
}

.dustinwebsFooterLogo{
    width: 10%;
}

.test {
    color: #f4f4f4;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Media Queries */


/* Navbar */

@media (max-width: 385px) {
    #shortName{
        display: block;
    }
    #longName{
        display: none;
    }
    
}


/* Articles of Faith */

@media (max-width: 767px) {
    #faithContents {
      display: none;
    }

    #faithBody {
        
        width: 100%;
        margin-left: 0%;
    }
  }


/* Contact */


@media (min-width: 576px) and (max-width: 768px){
    .contact{

        margin-top: -5%;
        margin-left: -5%
    }    
    .contact-form{
        margin-left: 12%;        
        
        
    }
    #contactInfo{
        margin-right: 10%;
    }

}


@media (min-width: 1200px) and (max-width: 1399px){
    #contactInfo{
        margin-top: 50%;
        text-indent: 10%;
        transform: translateY(-80%);
    }

}

@media (min-width: 1400px){
    #contactInfo{
        margin-top: 6%;
        text-indent: 10%;
    }

}

@media (max-width: 575px){
    #contactInfo{
        margin-bottom: 9%;
    }

}

@media (max-width: 329px){
    #contactInfo{
        margin-bottom: 12%;
    }

}


/* Footer */
  
@media (max-width: 400px) {
    .dustinwebsFooterLogo{
        width: 12%;
    }
}