{% extends 'website/base.html' %}
{% load static %}

{% block content %}


<h1 class="title" >{{title}}</h1>

<div class="aboutUs">

    <div class="row">

        <div class="col-sm-6">
            <div class="pastorFamily">
                
                <figure>
                    <center>
                        <img src="{% static 'images/olivers_500.jpg' %}" id="pastorFamily">
                        <figcaption>
                            Rev. Dustin, Rachel, and Rhoda Oliver
                        </figcaption>
                    </center>
                </figure>
            </div>
        </div>
    
    <div class="col-sm-6" id="welcome">
        <p>Hello, thank you for stopping by!</p>
        <p>Here at the Sacramento Wesleyan Methodist Church, we endeavor to live by, and preach the Bible, while maintaining a family like atmosphere. Everyone is welcome.</p>
        <p>We have a Junior Church in the morning for our younger attendees, so the whole family is welcome.</p>

        <p>We invite you to come visit us (click <a href="{% url 'home' %}">here</a> for address and service times) and check out our <a href="{% url 'faith' %}">Articles of Religion</a> to find out what we believe. If you have any questions, please, do not hesitate to <a href="{% url 'contact' %}">contact</a> us.</p>
        
    </div>
   </div>     
<!--
   <hr>

   <h3>Allegheny Wesleyan Methodist Connection (Original Allegheny Conference)</h3>

   
   <div class="row" id="aboutConnection">

        <div class="connectionLogo">
            <figure>
                <img src="{% static 'images/connection_logo_200.jpg' %}" id="pastorFamily">
            </figure>
        </div>

        <div class="connection">

        </div>

   </div>
        -->
   

</div>




{% endblock %}