{% extends 'website/base.html' %} 
{% load static %}


{% block content %}

{% if user.is_authenticated %}

    <h1 class="title" id="addEvent">Add Sermon</h1>
    <br><br>
    {% if submitted %}
        Your Sermon Audio Was Submitted Successfully!!!
        <br><br>
        If you would like to add more sermons, please click <a href="{% url 'add-sermon' %}">here.</a>
        <br><br>
        To see the sermons you have, click this link: <a href="{% url 'sermon-list' %}">Sermons</a>
        
    {% else %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ form.media }}
            {{ form.as_p }}
            
            



            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>
    {% endif %}

{% else %}
    <h1>Sorry, only those who are authorized can add sermons. 
        <br><br> 
        If you are authorized and seeing this message, maybe you need to login.</h1>
    <a href="{% url 'login' %}">Login Here</a>

{% endif %}




{% endblock %}