{% extends 'website/base.html' %} 
{% load static %}

{% block title %}Add Event{% endblock %}

{% block content %}

{% if user.is_authenticated %}

    <h1 id="addEvent">Add Event</h1>
    <br><br>
    {% if submitted %}
        Your Event Was Submitted Successfully!!!
        <a href="/calendar/">Calendar</a>
        
    {% else %}
        <form action="" method="POST">
            {% csrf_token %}

            {{ form.as_p }}



            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>
    {% endif %}

{% else %}
    <h1>Sorry, only those who are authorized can add events. 
        <br><br> 
        If you are authorized and seeing this message, maybe you need to login.</h1>
    <a href="{% url 'login' %}">Login Here</a>

{% endif %}



{% endblock %}