{% extends 'website/base.html' %} 
{% load static %}

{% block title %}Calendar{% endblock %}

{% block content %}

<h1>Calendar</h1>

{{ month }} {{ current_day }}, {{ year }} {{ time }}

<hr>
<center>
  
    {{ cal|safe }}


  </div>

</center>
<br>
<hr>
<br> 


<h3>Events This Month ({{ month }} {{ year }})</h3>
{% if event_list %}
  {% for event in event_list %}
  

  <div class="card">
    <div class="card-header">
      <h5 id="eventName"> {{ event }}</h5> 
    </div>
     
    <div class="card-body">
      <ul class="card-text" id="events">   
        <li class="card-text"><strong>Date:</strong> {{ event.event_date }}</li>
        <li class="card-text"><strong>Date:</strong> {{ event.event_time }}</li>
        <li class="card-text"><strong>Days Until Event:</strong> {{ event.Days_til }}</li>
        <li class="card-text"><strong>Description:</strong> {{ event.description }}</li>
        
      </ul>
    </div>
    
  </div>
  <br>
  {% endfor %}
{% else %}
There are currently no events this month.

{% endif %}



{% endblock %}