{% extends 'website/base.html' %} 
{% load static %}


{% block content %}

<h1 class="title">Contact Us</h1>
<br>

{% if message_name %}

<center>
    <h2>Thank you {{ message_name }} for contacting us!</h2>
    <p>We received your email and will respond soon.</p>
    <a href="{% url 'home' %}">Home</a>
</center>

{% else %}

<div class="contact">
    <div class="container">

        <div class="row">


        <!-- Contact Information -->
            <div class="col-sm-5" id="contact">
                
                <div class="contact-information" id="contactInfo">
                    <h5>Address</h5>
                    <p>6600 Steiner Drive, Sacramento, CA 95823 USA</p>

                    <h5>Phone</h5>
                    <p>+1 xxx-xxx-xxxx</p>

                    <h5>Email</h5>
                    <p>xxxxxxx@gmail.com</p><br>
                </div>
            </div>
            
            
        
        <!--Contact Form-->
            <div class="col-sm-7">
                
                <div class="contact-form">
 
                    <!--Form-->
                    <form method="post">
                        {% csrf_token %}
                        
                        {{ form.subject }}
                        <br>
                        {{ form.name }}
                        <br>
                        {{ form.email }}
                        <br>
                        {{ form.message }}
                        <br>
                        {{ form.captcha }}    
                        {% for error in form.captcha.errors %}
                        <p style="color:red;">{{error}}</p>
                        {% endfor %}
                        <br>
                        <button type="submit" class="btn btn-secondary">Send Message</button>
                            
                    </form>
                </div>
            </div>

          </div>
    </div>

</div>

{% endif %}



{% endblock %}