{% load static %}
<hr>
<div id="dustinwebsFooter">

    <h6>By &nbsp;&nbsp;&nbsp;<img src="{% static 'images/DustinWebs_logo_w300.png' %}" alt="Logo" class="dustinwebsFooterLogo"></h6>
    
        <!--<div id="dustinwebsFooterLogoDiv">
           
            <img src="{% static 'images/DustinWebs_logo_w300.png' %}" alt="Logo" class="dustinwebsFooterLogo">
             <a href="#">
                <img src="{% static 'images/DustinWebs_logo_w300.png' %}" alt="Logo" class="dustinwebsFooterLogo">

            </a>
        </div>
    </h4>

    <p>To get your own website, please visit me at <a href="#" id="dustinwebsContactLink">www.dustinwebs.com</a>. </p>-->
        
</div>
