{% extends 'website/base.html' %} 
{% load static %}

{% block title %}Calendar{% endblock %}

{% block content %}

    <h1>Events</h1>
{% for event in event_page %}
  


<div class="card">
  <div class="card-header">
    <h5 id="eventName"> {{ event }}</h5> 
  </div>
   
  <div class="card-body">
    <ul class="card-text" id="events">   
      <li class="card-text"><strong>Date:</strong> {{ event.event_date }}</li>
      <li class="card-text"><strong>Description:</strong> {{ event.description }}</li>
      
    </ul>
  </div>

  {% if user.is_authenticated %}

    <div class="card-footer text-right">
      <a href="{% url 'update-event' event.id %}" class="btn btn-secondary">Update</a>
      
      <a href="{% url 'delete-event' event.id %}" class="btn btn-danger">Delete</a>
    </div>
  {% endif %}
  
</div>
<br>


{% endfor %}

<!-- Pagination -->

{% if event_page.has_previous %}
    <a href="?page=1">&laquo; First</a>
    <a href="?page={{ event_page.previous_page_number }}">Previous</a>

{% endif %}

Page {{ event_page.number }} of {{ event_page.paginator.num_pages }}

{% if event_page.has_next %}
    <a href="?page={{ event_page.next_page_number }}">Next</a>
    <a href="?page={{ event_page.paginator.num_pages }}">Last &raquo;</a>

{% endif %}



{% endblock %}