<div>
  <nav class="navbar navbar-collapse-sm navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <!-- <img src="#" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> -->
            Sacramento Wesleyan Methodist Church <!--add logo-->
          </a>
          <div id="manager">
            {% if user.is_authenticated %}
              - {{ user }}
              
            {% endif %}
        </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Sacramento WMC</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>

              {% if user.is_authenticated %}

                <li class="nav-item dropdown">
                  <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sermons
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" aria-current="page" href="/sermons/">Sermons</a></li>
                    <li><a class="dropdown-item" aria-current="page" href="/add-sermon/">Add Sermon</a></li> 
                  </ul>
                </li>  

              {% else %}

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/sermons/">Sermons</a>
                </li>

              {% endif %}           
                

             {% if user.is_authenticated %} 

             <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Events
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" aria-current="page" href="/calendar/">Calendar</a></li>
                <li><a class="dropdown-item" aria-current="page" href="/events/">Events</a></li> 
                <li><a class="dropdown-item" aria-current="page" href="/add-event/">Add Event</a></li> 
              </ul>
            </li>  

            {% else %}

            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Events
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" aria-current="page" href="/calendar/">Calendar</a></li>
                <li><a class="dropdown-item" aria-current="page" href="/events/">Events</a></li> 
              </ul>
            </li>  

            {% endif %}      
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/contact/">Contact</a>
              </li>
              
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
              </li>
            {% else %}

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Sign Up</a>
              </li>            
              
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
              </li>

            {% endif %}
          </ul>

        </div>
      </div>
    </div>
  </nav>
</div>